{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" href="css/signin/signin.css">
{%  endblock %}

{% block signLink %}
    <a class="nav-link" href="/">Back to website</a>
{%  endblock %}

{% block body %}
    <h1>Register</h1>
    {{ form_start(registrationForm,
        { 'attr':
            {'class': 'form-signin'}
        })
    }}
    <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
        {{ form_label(registrationForm.email,
            null,
            { 'label_attr':
                {'class': 'sr-only'}
            })
        }}
        {{ form_widget(registrationForm.email,
            { 'attr':
                {'class': 'form-control', 'placeholder': 'Email address'}
            })
        }}
        {{ form_label(registrationForm.plainPassword,
            null,
            { 'label_attr':
                {'class': 'sr-only'}
            })
        }}
        {{ form_widget(registrationForm.plainPassword,
            { 'attr':
                {'class': 'form-control', 'placeholder': 'Password'}
            })
        }}
        {{ form_label(registrationForm.firstName,
            null,
            { 'label_attr':
                {'class': 'sr-only'}
            })
        }}
        {{ form_widget(registrationForm.firstName,
            { 'attr':
                {'class': 'form-control', 'placeholder': 'Prénom'}
            })
        }}
        {{ form_label(registrationForm.lastName,
            null,
            { 'label_attr':
                {'class': 'sr-only'}
            })
        }}
        {{ form_widget(registrationForm.lastName,
            { 'attr':
                {'class': 'form-control', 'placeholder': 'Nom'}
            })
        }}
        {{ form_label(registrationForm.phone,
            null,
            { 'label_attr':
                {'class': 'sr-only'}
            })
        }}
        {{ form_widget(registrationForm.phone,
            { 'attr':
                {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}
            })
        }}
        {{ form_row(registrationForm.agreeTerms) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Register
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}
