{% extends 'base.html.twig' %}
{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/fiche.css">
{%  endblock %}

{% block title %}
    Fiche véhicule:
    {{ vehicule.modele.marque }}
    {{ vehicule.modele }}
    {{ vehicule.norme }}
{% endblock %}

{% block dessous %}

    {{ form_start(reservationForm) }}

    <div class="container">

        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <a href="produits"> Retour à la sélection </a>
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="./images/produits/{{ vehicule.photoPath }}" /></div>
                        </div>
                        <!-- Ici la liste des différentes photos du produit -->
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="./images/produits/{{ vehicule.photoPath }}" /></a></li>
                        </ul>-

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">
                            {{ vehicule.modele.marque }}
                            {{ vehicule.modele }}
                            {{ vehicule.norme }}
                            </h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>

                        <p class="product-description">
                            {{ vehicule.description }}
                        </p>
                        <h4 class="price">Prix à la journée <span>{{ vehicule.price }}€</span></h4>
                        <h5 class="specifications">Fiche technique:
                            <ul>
                                <li>Marque: {{ vehicule.modele.marque }}</li>
                                <li>Modèle: {{vehicule.modele }}</li>
                                <li>Norme anti-pollution: {{ vehicule.norme }}</li>
                                <li>Type d'énergie: {{ vehicule.energie }}</li>
                                <li>Nombre de places: {{ vehicule.nbPlaces }}</li>
                                <li>
                                    <img class="rounded-circle" src="./images/vignettes/{{ vehicule.critair }}.png"
                                         alt="logo vignette crit'air {{ vehicule.critair }}" width="80" height="80">
                                </li>
                            </ul>
                        </h5>

                        <h5>
                        </h5>
                        <div class="row border border-warning">
                            <div class="col-md">
                                {{ form_label(reservationForm.dateDebut) }}
                            </div>
                            <div class="col">
                                {{ form_widget(reservationForm.dateDebut) }}
                            </div>
                        </div>
                        <div class="row border border-warning mt-2 mb-2">
                            <div class="col-md">
                                {{ form_label(reservationForm.dateFin) }}
                            </div>
                            <div class="col">
                                {{ form_widget(reservationForm.dateFin) }}
                            </div>
                        </div>
                        <div class="action mx-auto">
                            {% if app.user %}
                                <button class="add-to-cart btn btn-default" type="submit">Ajouter au panier</button>
                            {% else %}
                                <a href="login"> <div class="add-to-cart btn btn-default">Ajouter au panier</div> </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}