{% extends 'base.html.twig' %}
{% block title %}Choisir un véhicule{% endblock %}

{% block stylesheets %}
    <!--<link rel='stylesheet prefetch' href='https://entrusters.com/templates/yoo_moustache/css/theme.css'>-->
    <!--<link rel='stylesheet prefetch' href='https://entrusters.com/modules/mod_entrusters_shopbyurl/css/urldata.previewer.min.css'>
    <link rel='stylesheet prefetch' href='https://entrusters.com/shop/products'>-->
{% endblock %}

{% block dessous %}

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <!-- Liste des éléments à louer-->
                {% for pdt in listePdts %}
                    <ul class="list-group shadow">

                    <!-- list group item-->
                    <li class="list-group-item">
                        <a href="fiche?car={{ pdt.id }}">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">

                                <h5 class="mt-0 font-weight-bold mb-2">
                                    {{ pdt.modele.marque }} {{ pdt.modele }} {{ pdt.norme }}
                                </h5>

                                <p class="font-bold form-control-dark mb-0">
                                    {{ pdt.energie }}
                                </p>

                                <p class="font-italic text-muted mb-0 small">
                                    {{ pdt.description }}
                                </p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">{{ pdt.price }}€ / jour</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">Critair {{ pdt.critair }}</h6>
                                </div>
                            </div><img src="./images/produits/{{ pdt.photoPath }}" alt="Photo du véhicule" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <!-- End -->
                        </a>
                    </li>
                </ul>
                {% endfor %}
                <!-- End -->
            </div>
            <div class="cd-filter-block">
                <h4>Marque</h4>
                <ul class="cd-filter-content cd-filters list">
                    {% for marque in marques %}
                        <li>
                            <input class="filter" data-filter=".check1" type="checkbox" id={{ marque }} checked >
                            <label class="checkbox-label" for="checkbox1">{{ marque }}</label>
                        </li>
                    {% endfor %}
                </ul> <!-- cd-filter-content -->

                <h4>Energie</h4>
                <ul class="cd-filter-content cd-filters list">
                    {% for energy in energys %}
                        <li>
                            <input class="filter" data-filter=".check1" type="checkbox" id={{ energy }} checked>
                            <label class="checkbox-label" for="checkbox1">{{ energy }}</label>
                        </li>
                    {% endfor %}
                </ul> <!-- cd-filter-content -->

                <h4>Norme</h4>
                <ul class="cd-filter-content cd-filters list">
                    {% for norme in normes %}
                        <li>
                            <input class="filter" data-filter=".check1" type="checkbox" name="radioButton" id={{ norme }} checked>
                            <label class="radio-label" for="checkbox1">{{ norme }}</label>
                        </li>
                    {% endfor %}
                </ul> <!-- cd-filter-content -->

                <h4>Critair</h4>
                <ul class="cd-filter-content cd-filters list">
                    {% for critair in critairs %}
                        <li>
                            <input class="filter" data-filter=".check1" type="checkbox" name="radioButton" id="Critair {{ critair }}" checked>
                            <label class="radio-label" for="checkbox1">Critair {{ critair }}</label>
                        </li>
                    {% endfor %}
                </ul> <!-- cd-filter-content -->

            </div> <!-- cd-filter-block -->
        </div>
    </div>

    <script>
        checkboxs = document.getElementsByClassName("filter")
        divs = document.getElementsByClassName("list-group-item")
        for (var i = 0; i < checkboxs.length; i++) {
            checkboxs[i].addEventListener('click', function() {
                if (this.checked) {
                    for (var j = 0; j < divs.length; j++) {
                        if (divs[j].innerHTML.includes(this.getAttribute("id"))) {
                            divs[j].style.display = "block"
                        }
                    }
                } else {
                    for (var j = 0; j < divs.length; j++) {
                        if (divs[j].innerHTML.includes(this.getAttribute("id"))) {
                            divs[j].style.display = "none"
                        }
                    }
                }
            });
        }

        window.onload = init
        function init() {
            var url = new URL(window.location.href);
            var filter = url.searchParams.get("filter");
            if (filter == "critair") {
                critairs = document.querySelectorAll('[id^="Critair"]')
                for (var i = 0; i < critairs.length; i++) {
                    idname = critairs[i].id
                    if (idname.substr(idname.length - 1) > 2) {
                        critairs[i].click()
                    }
                }
            }
        }
    </script>
{% endblock %}