{% extends 'base.html.twig' %}
{% block title %}Choisir un véhicule{% endblock %}

{% block stylesheets %}
    <!--<link rel='stylesheet prefetch' href='https://entrusters.com/templates/yoo_moustache/css/theme.css'>-->
    <!--<link rel='stylesheet prefetch' href='https://entrusters.com/modules/mod_entrusters_shopbyurl/css/urldata.previewer.min.css'>
    <link rel='stylesheet prefetch' href='https://entrusters.com/shop/products'>-->
{% endblock %}

{% block dessous %}

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <!-- Liste des éléments à louer-->
                {% for pdt in listePdts %}
                    <ul class="list-group shadow">

                    <!-- list group item-->
                    <li class="list-group-item">
                        <a href="fiche?car={{ pdt.id }}">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">

                                <h5 class="mt-0 font-weight-bold mb-2">
                                    {{ pdt.modele.marque }} {{ pdt.modele }} {{ pdt.norme }}
                                </h5>

                                <p class="font-italic text-muted mb-0 small">
                                    {{ pdt.description }}
                                </p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">{{ pdt.price }}</h6>
                                </div>
                            </div><img src="./images/produits/{{ pdt.photoPath }}" alt="Photo du véhicule" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <!-- End -->
                        </a>
                    </li>
                </ul>
                {% endfor %}
                <!-- End -->
            </div>
            <div class="cd-filter-block">
                <h4>Categorie</h4>
                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Urbain</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Interurbain</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Tourisme</label>
                    </li>

                </ul> <!-- cd-filter-content -->

                <h4>Energie</h4>
                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Diesel</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">GNV</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Hybride</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Electrique</label>
                    </li>

                </ul> <!-- cd-filter-content -->

                <h4>Nombre de places</h4>
                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">9 Places max</label>
                    </li>

                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">de 10 à 20 places</label>
                    </li>

                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">Plus de 20 places</label>
                    </li>

                </ul> <!-- cd-filter-content -->

            </div> <!-- cd-filter-block -->
        </div>
    </div>
{% endblock %}