{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/panier.css">
{% endblock %}

{% block title %}
    Panier
{% endblock %}

{% block dessous %}
    <!-- on créer un formulaire fictif afin de pouvoir rediriger vers supprpanier avec "action" -->
    <form id="formsuppr" method="post" action="supprpanier" style="display:none">
        <input type="hidden" name="id" />
    </form>

    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:50%">Produit</th>
                <th style="width:15%">Nombre de places</th>
                <th style="width:10%">Date</th>
                <th style="width:22%" class="text-center">Sous-total</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody>
            {% set sum = 0 %}
            {% for pdt in listePdts %}
                <tr>

                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs align-self-center"><img src="./images/produits/{{ pdt.vehicule.photoPath }}" alt="photo du véhicule" class="img-responsive"/></div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">{{ pdt.vehicule.modele.marque }} {{ pdt.vehicule.modele }} {{ pdt.vehicule.norme }}</h4>
                                <p>{{ pdt.vehicule.description }}</p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Place">{{ pdt.vehicule.nbPlaces }}</td>
                    <<td data-th="Date">
                        <p>Du {{ pdt.dateDebut|date("d/m/Y") }}</p>
                        <p>Au {{ pdt.dateFin|date("d/m/Y") }}</p>
                    </td>
                    <td data-th="Subtotal" class="text-center">{{ pdt.price }}€</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-danger btn-sm" type="button" id="{{ pdt.id }}" onclick="supprimer(this.id)"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                {% set sum = sum + pdt.price %}
            {% endfor %}
            </tbody>
            <tfoot>

            <tr>
                <td><a href="produits" class="btn btn-warning"><i class="fa fa-angle-left"></i>Retourner à la navigation</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total {{ sum }}€</strong></td>
                {% if app.user.nbCartElement > 0 %}
                    <td><a href="validPanier" class="btn btn-success btn-block">Etape suivante / Commandes en cours<i class="fa fa-angle-right"></i></a></td>
                {% endif %}
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function supprimer($id) {
            // récupère le formulaire fictif et on met dans l'input l'id du bouton supprimer cliqué
            $input = document.getElementsByName("id")[0]
            $input.value = $id

            document.getElementById('formsuppr').submit()
        }
    </script>
{% endblock %}